@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap');


body {
    margin: 0;
    background: rgb(67,67,74);
    background: -moz-linear-gradient(140deg, rgba(67,67,74,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(140deg, rgba(67,67,74,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(140deg, rgba(67,67,74,1) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#43434a",endColorstr="#ffffff",GradientType=1);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100% !important;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden !important;
    font-family: 'Roboto', sans-serif;

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

button:focus {
    outline: none;
}

#content{
    display: none;
}

.hourglass-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1040;
    background-color: rgb(71, 71, 71);
    overflow: hidden;
    opacity: 1;
    transition: opacity 0.5s ease-out
}

.hourglass-wrapper.hidden {
    opacity: 0;
}

.lds-hourglass {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 80px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(450deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(900deg);
    }
  }

/* Section Css */

section {
    margin: 60px auto;
}

section.dark {
    transform: scaleX(1.02);
    width: 100%;
    background-color: #fff;
}

.section-title {
    font-size: calc(2rem + 0.6vw);
    margin: 0 0 4%;
    letter-spacing: 1.2px;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

section.dark .section-title {
    color: #000;
}

/* NavBar CSS */

.navbar {
    width: 100vw;
}

.navbar  > .container-fluid {
    width: 90%;
    margin: 0 auto;
}

.mobile-logo img{
    
    height: 50px;
}

.navbar-nav li {
    min-width: 100px;
    margin: 0 10px;
}

.navbar-brand img {
    max-height: 80px;
}

.navbar-nav {
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: 600;
}

.nav-item a:hover{
    transform: scale(0.95);
    transition: transform 0.3s ease
}

.dropdown-item {
    font-size: 1.2rem;
    text-align: center;
    border: 0;
    margin: 5px 0;
}

/* Carousel */

.carousel.slide {
    height: 80vh;
    width: 90vw;
    margin: 120px auto 0;
}  

.carousel-inner {
    max-height: 100%;
    border-radius: 30px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4)
}

.carousel-inner img {
   filter: opacity(0.7);
   height: 1000px;
}

.main-logo {
    position: absolute;
    padding: 2% 5%;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 60%);
    top: 50%;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
}

.main-logo img {
    max-height: 250px;
    height: 30vh;
    min-height: 200px;
    min-width: 300px;
    width: 40vw;
    max-width: 500px;
    filter: contrast(300%);
}

.carousel-item::after {
    content: '';
    position: absolute;
    top: 0;
    left: -20%;
    height: 100%;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    transform: skewX(-10deg);
}



.carousel-item {
    position: initial;
}

.carousel-text {
  position: absolute;
  top: 50%;
  left: 15%;
  width: 20%;
  transform: translateY(-50%);
  color: white;
  z-index: 100;
}

.carousel-text h2 {
    font-size: calc(3rem + 0.6vw);
    font-weight: bold;
}

.carousel-text p {
    text-transform: uppercase;
   font-size: 1.4rem;
   line-height: 2;
   letter-spacing: 0.8px;
   font-weight: 500;
}

@media  (max-width: 768px) {
    .main-logo{
        width: 100%;
        border-radius: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .carousel-item::after {
        width: 100%;
        left: 0;
        transform: skewX(0deg);;
    }

    .carousel-text {
        width: 80%;
        top: 10;
        left: 12%;
        text-align: center;
    }

    .carousel-inner img {
        object-fit: fill;
     }
     
}
/* Section 1 */ 

.industry-card {
    height: 100%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4)
}

.industry-card i{
    margin: 20px;
    font-size: 4rem;
}

.industry-card h5 {
    font-size: calc(1.8rem + 0.2vw);
    text-align: center;
    margin-bottom: 20px;
}

.industry-card p {
    font-size: calc(1.0rem + 0.2vw);
}
/* Section 2 */

.cta-box {
    padding: 2% 1vw 2%;
}

.cta-image img{
   height: 300px;
   width: 100%;
   box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}

.cta-text {
    padding: 10px 30px;
    font-size: 1.3rem;
}

.about-button {
    width: 100%;
    font-size: 1.2rem;
}
/* Section 3 */

.brand-card {
    padding: 2% 5%;
    min-width: 60%;
    max-width: 100%;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    overflow-y: hidden;
}

.brand-card.left{
    transform: translateX(-300%);
    transition: transform 0.5s ease-in-out;
}

.brand-card.right{
    transform: translateX(300%);
    transition: transform 0.5s ease-in-out;
}

.brand-card.brand-card.left.visable{
    transform: translateX(0%);
}

.brand-card.brand-card.right.visable{
    transform: translateX(0%);
}

.brand-card img {
    width: 200px;
    max-height: 100px;
}


.brand-card .card-body {
  margin-right: 18%;
  margin-left: 5%;
  min-height: 120px;
  height: 100%;
}

.card-title {
    font-size: calc(1.8rem + 0.4vw);
}

.read-more {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    right: 0;
    top: -5px;
    height: 105%;
    width: 15%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5rem;
}

.read-more i {
    font-size: 2.2rem;
}

.brand-card a{
    color: inherit;
    text-decoration: none;
}

.link-wrapper {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    padding: 10px;
    width: 80%;
    margin: 0 auto;
}

.link-wrapper:hover {
    transform: scale(1.1);
    -webkit-transition: transform 0.5s ease-out, background-color 0.5s ease;
    -moz-transition: transform 0.5s ease-out, background-color 0.5s ease;
    -o-transition: transform 0.5s ease-out, background-color 0.5s ease;
    transition: transform 0.5s ease-out, background-color 0.5s ease;
    background-color: rgba(0, 155, 0, 0.3);
}

.link-wrapper a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
}

.link-wrapper i {
    font-size: 1.5rem;
}

/* Section 4 */

.contact-box button {
    font-size: 1.4rem;
    font-weight: 700;
}

.contact-body {
    margin-top: 10px;
    padding: 5%;
    min-height: 250px;
}

.contact-body h4 {
    margin-bottom: 10px;
}
.contact-body ul {
    text-align: start;
}

.card-body ul li {
    font-size: 1.2rem;
}

/* Footer */

.footer {
    padding: 1% 0;
    background-color: #000;
    margin: 0;
    color: white;
    font-size: 1.1rem;
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer .fab {
    font-size: 3rem;
    margin-right: 20px;
}

.rodo {
    margin-top: 20px;
}



/* Partners CSS */

.brand-section-title{
    margin-bottom: 20px;
    font-weight: 800;

}


.buisness-card-wrapper{
    transition: flex 0.4s ease-in-out;
    overflow: hidden;
    padding: 10px;
    cursor: pointer;
}




.buisness-card{
    width: 100%;
    min-height: 300px;
    max-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border: none;
    box-shadow: rgb(0 0 0 / 10%) 5px 5px 0px 0px
}

.brand-desc {
    padding: 0;
    position: absolute;
    height: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 50%;
    left: 0%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.brand-desc h5, .brand-desc span{
    visibility: hidden;
    margin-right: 30px;
}

.mobile-brand-desc {
    display: none;
}

span.circle{
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #fff;
    bottom: -52%;
    right: -14%;
}

span.circle i{
    color: black;
    position: absolute;
    top: 20%;
    left: 25%;
    font-size: 1.8rem;
}


.buisness-card-wrapper:hover {
   flex-grow: 4;
}

.buisness-card-wrapper:hover .buisness-card .brand-desc {
   height: 150px;
   transition: height 0.4s ease;
   padding: 1rem;
}

.buisness-card-wrapper:hover .buisness-card .brand-desc h5,
.buisness-card-wrapper:hover .buisness-card .brand-desc span{
    visibility: visible;
    transition: visibility 0.3s ease-in 0.4s;
}

@media (max-width: 768px) {
    .buisness-card-wrapper{
        min-width: 50%;
    }

    .brand-desc, .brand-desc h5, .brand-desc span{
        display: none;
    }

    .mobile-brand-desc{
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        height: 20%;
        left: 0;
        padding: 5%;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        transition: height 0.6s ease;
    }

    .mobile-brand-desc i{
        font-size: 2rem;
        position: absolute;
        right: 20px;
        top: 15px;
        transition: transform 0.6s ease;
    }

    .mobile-brand-desc p, .mobile-brand-desc button {
        display: none;
    }

    .mobile-brand-desc.active {
        height: 50%;
        
    }

    .mobile-brand-desc.active p,  
    .mobile-brand-desc.active button  {
        display: block;
    }
    
    .mobile-brand-desc.active i {
        transform: rotateZ(-180deg);
    }
    
}

@media (max-width: 425px) {
    .buisness-card-wrapper{
        min-width: 100%;
    }

    .brand-desc, .brand-desc h5, .brand-desc span{
        display: none;
    }
}

.allegro-box, .partners-contact-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2%;
    padding: 3%;
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.3);
}

.allegro-box ul {
    width: 100%;
}

.allegro-box ul li {
    width: 100%;
}

.allegro-box ul li button {
    width: 100%;
    font-size: 1.2rem;
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.3);
}

.allegro-box ul li button {
    width: 100%;
    font-size: 1.3rem;
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
    font-weight: 800;
}

.allegro-btn{
    background-color: #ff5900;
    color: white;
    filter: saturate(0.6);
}

.stanley-btn {
    background-color: #ffd20d;
    color: #000;
    filter: saturate(0.6);
}

.allegro-box ul li button:hover {
    transform: scale(0.98);
    filter: saturate(1);
}

.allegro-box ul li button.allegro-btn:hover {
   color: #fff;
}

@media (max-width: 756px) {
    .allegro-box ul li button{
        filter: saturate(0.8);
    }
}